<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>DATA ANALYTICS VISUALIZATION</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">NMDA</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#dashboard">Dashboard</a></li>
          <li><a class="nav-link scrollto" href="#report">Report</a></li>
          <li><a class="nav-link scrollto" href="#story">Story</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">The Future of Work</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Data Analysis of Glassdoor Jobs</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="static/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>TEAM &amp PROBLEM STATEMENT</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <h3>
              TEAM ID: NM2023TMID12778
            </h3>
            <ul>
              <li><i class="ri-check-double-line"></i> Team Leader: SUBASH</li>
              <li><i class="ri-check-double-line"></i> Team Member 1: VASUNDHARA</li>
              <li><i class="ri-check-double-line"></i> Team Member 2: SANTHOSH</li>
              <li><i class="ri-check-double-line"></i> Team Member 3: NANDHANA</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              The goal of the project is to uncover insights and trends in job market, such as popular job titles, average salaries,and in-demand skills.
            </p>
            </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= DASHBOARD Section ======= -->
    <section id="dashboard" class="dashboard">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>DASHBOARD</h2>
          </div>
          <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FGlassdoor%2BJobs%2FNM%2Bjobs%2Bdashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard" width="1080" height="720" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
        </div>

      </div>
    </section><!-- End DASHBOARD Section -->

    <!-- ======= REPORT Section ======= -->
    <section id="report" class="report section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>REPORT</h2>
        </div>
        <iframe src="https://us3.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FGlassdoor%2BJobs%2FNM%2Bjobs%2BReport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded" width="1080" height="720" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
      </div>
    </section>

    <!-- ======= STORY Section ======= -->
    <section id="story" class="story">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>STORY</h2>
        </div>
        <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FGlassdoor%2BJobs%2FNM%2Bjobs%2Bstory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=story" width="1080" height="720" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
      </div>
    </section><!-- End STORY Section -->

    <!-- ======= Contact Section ======= -->
    <section id="teamdetails" class="teamdetails">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team Details</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="teamdetails-about">
              <h3>Team Number</h3>
              <p>Team Leader: SUBASH<br>Team Member 1: VASUNDHARA<br>Team Member 2: SANTHOSH<br>Team Member 3: NANDHANA</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Jansons<br>Institute Of Technology<br>Coimbatore</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <p>Project - The Future of Work: Data Analysis of Glassdoor Jobs</p>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <!--Copyrights-->
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#hero" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#dashboard" class="scrollto">Dashboard</a>
            <a href="#report" class="scrollto">Report</a>
            <a href="#story" class="scrollto">Story</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>